<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Titianic Predictor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>

    <h1>Home page</h1>
    <button type="button" onclick="clicked()"> Check</button>
    <h1>Get your titiantic predicitions here!</h1>
    <p>Enter int the details of a made up person on the titianic voyage</p>
    <p>We will output a predicitions</p>

    <form action="{% url 'result' %}">
      {% csrf_token %}

      <p>Pclass</p>
      <input type="text" name="pclass">
      <p>Sex</p>
      <input type="text" name="sex">
      <p>Age</p>
      <input type="text" name="age">
      <p>Sibsp</p>
      <input type="text" name="sibsp">
      <p>Parch</p>
      <input type="text" name="parch">
      <p>Fare</p>
      <input type="text" name="fare">
      <p>Embarked</p>
      <input type="text" name="embarked">
      <p>Title</p>
      <input type="text" name="title">
      <p></p>
      <input type="submit">

    </form>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>

  </body>
</html>
